	<div class="well welcome-home">
		<div class="container">
		<h2>Our expert is now reviewing your records</h2>
	</div>
	</div>

<div class="container">
  <div class="row">
    <div class="col-lg-12">
    <!-- Page Body Starts -->
		<section>
		<div class="prog">
			<div class="notch" style="left: 50%;"></div>
			<div class="bar">
				<span class="l1">
					<span class="fa fa-check"></span>
					<div class="milestone">Case Started</div>
				</span>
				<span class="l2">
					<span class="fa fa-check"></span>
					<div class="milestone">Collecting Records</div>
				</span>
				<span class="l3">
					<span class="fa fa-check"></span>
					<div class="milestone">Expert Review</div>
				</span>
				<span class="l4">
					<span class="fa circle"></span>
					<div class="milestone"><a href="opinion-casedashboard-opiniondelivered.html">Expert Opinion</a></div>
				</span>
				<div class="state" data-n-point="75%" data-percent="75" style="width: 75%;"></div>
			</div>
		</div>
	</section>
	
	<!-- Expert Review -->
	<section>
		<div class="well checklist-info">
			<div class="row check-list-item v-centered dismissable">
				<div class="col-md-3">
					<section>
					<p><img src="../images/<%= drImage %>" width="150" height="150" alt=""></p>
					<p><strong>Dr. <%= drFName %> <%= drLName %></strong></p>
					<%= drSpecialty %><br>
					<%= drHospital %><br>
					<%= drAddress %><br>
				</div>
					<div class="col-md-9">
					<p><strong>About Dr. <%= drLName %></strong><br />
						Dr. <%= drLName %> is Chief of Orthopedic Spine Surgery, Professor of Orthopedic Surgery and Neurosurgery, and Co-Director of the USC Spine Center at USC School of Medicine. As an expert in the treatment of neck and back disorders, he has authored more than 100 research publications and has presented on the topic to audiences around the world. Dr. <%= drLName %> sits on the Board of Directors for the North American Spine Society and holds several committee positions with the Cervical Spine Research Society and Scoliosis Research Society.</p>
				
				</div>
			</div>
		</div>
	</section>

	
<%- partial("partial/_teamandmessages-populated") %>
	
	<!-- Page Body Ends -->
    </div>
  </div>
</div>
