	<div class="well opinion-tools">
		<div class="container">
			<div class="col-md-6">
				<strong>Opinion provided for: <%= firstName %> <%= lastName %></strong>
				<br />
				Written by: Dr. <%= drFName %> <%= drLName %>
				<br />
				<script>var d = new Date(); document.write(d.toDateString());</script>
			</div>
			<div class="col-md-6">
				<section class="pull-right">
					<i class="fa fa-file-o"></i> Save as PDF
								<br />
								<i class="fa fa-print"></i> Print
								<br />
								<i class="fa fa-envelope-o"></i> Share via Email
				</section>
			</div>
		</div>
	</div>
	
	<div class="container opinion-container">
	  <div class="row">
	    <div class="col-lg-12">
			    <!-- Page Body Starts -->
					<div class="row well checklist-info">
							<div class="col-md-2">
								<img src="../images/GR_Leadership__0007_8.-Shaundra-Eichstadt.jpg" width="128" alt="" class="avatar">
							</div>
							<div class="col-md-10">
								<h4>Notes from Dr. Eichstadt</h4>
								<%= firstName %>,  Need Notes
							</div>
				</div>
					
			<!-- opinion container -->
											<h2>Expert Opinion Provided by</h2>
											<p><img src="../images/<%= drImage %>" width="150" height="150" alt=""></p>
											<p><strong>Dr. <%= drFName %> <%= drLName %></strong></p>
											<%= drSpecialty %><br>
											<%= drHospital %><br>
											<%= drAddress %><br>

											<h2>ABOUT ME</h2>

											<p>
												Dr. <%= drLName %> has been a trailblazer in educational outreach, co-founding the UCSF Thoracic Oncology Conference, an annual symposium that provided expert training for thousands of community surgeons for over a decade. He also was instrumental in establishing the China Clinical Trials Consortium to find more effective treatments for lung cancer, and to ameliorate the epidemic of lung cancer in China. In 2009, he led the effort to bring World Conference on Lung Cancer to San Francisco, the preeminent event in the field, in which he served as co-Chair.</p>
											<br clear="all">
											<h2>EDUCATION</h2>
											<ul>
												<li>Ohio State University College of Medicine (MD)</li>
												<li>Johns Hopkins School of Medicine (Residency)</li>
												<li>Stanford University Medical Center (Fellowship)</li>
											</ul>
											<h2>AWARDS</h2>
											<ul>
											<li>Dr. Constantin Cope Medical Student Award, Society of IR Annual Scientific Mtg-Mentor for Keith Chan (2011)</li>
											<li>Fellow of the Society, The Society of Interventional Radiology (2011)</li>
											<li>The Gary Becker Young Investigator Award, The Society of IR-Mentor for William T. Kuo, MD (2011)</li>
											</ul>
											<h2>PUBLICATIONS</h2>
											<ul>
												<li>Common iliac vein stenosis and risk of symptomatic pulmonary embolism: an inverse correlation. J Vasc Interv Radiol. 2011; 22 (2): 133-41</li>
												<li>Common iliac vein stenosis: a risk factor for oral contraceptive-induced deep vein thrombosis. Am J Obstet Gynecol. 2011; 205 (6): 537.e1-6.</li>
												<li>In vitro design and characterization of the nonviral gene delivery vector iopamidol, protamine, ethiodized oil reagent. J Vasc Interv Radiol. 2011; 22 (10): 1457-1463.e2.</li>
											</ul>
											<hr>
											<h2 class="h2">Summary of your Medical History</h2>
											Thank you for the opportunity and privilege to offer an opinion about your deep venous thrombosis. You are a 21-year-old female that presented one week ago with a left lower extremity deep venous thrombosis (blood clot).  Your symptoms consisted of moderate left leg swelling, moderate pain, and difficulty walking.  You have been placed on enoxaparin, and the plan is to transition you to warfarin (both drugs are blood thinners) for 6 months. Your symptoms are only mildly improved on anticoagulation (blood thinners). CT venography (a CAT scan that looks at the veins) demonstrates that the blood clot extends for the left common iliac vein (pelvic veins) to the popliteal vein (knee vein).  You have compression of the left common iliac vein by the right common iliac artery, known as May-Thurner Syndrome, a normal variant of vascular anatomy. You started oral contraceptives (birth control pills) 2 months ago. You did not have a pulmonary embolism (a blood clot that went to the lung). You do not have a family history of blood clotting disorders. 
											<h2 class="h2">Your Questions</h2>
											<ul>
												<li>Why did I get a blood clot?</li>
												<li>What should I just use blood thinners or should I undergo a procedure to have the blood clot removed?</li>
											</ul>
											<img src="http://3.bp.blogspot.com/_ZWqgYBROGHw/S93cvQ0C-3I/AAAAAAAAAi4/qoxm1_ZVLnc/s1600/11f6.jpg" width="200" class="textwrap-right">
											<p><strong>1.  Blood clot</strong> - Your blood clot was caused by two factors.  This first is the birth control pills you started.  This is a known risk factor for blood clots and is called oral-contraceptive induced deep venous thrombosis.  Most blood clots that happen in patients on birth control pills occur within the first 6 months of starting the medication.  The second risk factor is your anatomy of the blood vessels in your pelvis.  About 25% of the population has compression of the vein to the left leg by the artery to the right leg.  This is known as <a href="3">May-Thurner Syndrome</a> or <a href="#">Iliac Vein Compression Syndrome</a>.  Our research has shown that this narrowing is a risk factor in causing blood clots, and in particular in patients that have blood clots caused by birth control pills.  We have also shown that patients with May-Thurner Syndrome actually have a very low risk of the blood clot moving from the legs to the lung, because the narrowed vein does not allow the blood clot to escape from the leg.</p>
											<p><strong>2. Clot Removal</strong> - Given the extent of the blood clot, your young age, and the fact that you have May-Thurner Syndrome, I would recommend that you have a minimally invasive procedure to remove the blood clot from the vein and have a stent placed in your narrowed vein.  This procedure can be called a few different names, such as catheter-directed thrombolysis, pharmaco-mechanical thrombolysis, or endovascular treatment of DVT. This is typically an outpatient procedure, or a single over-night stay. There are a variety of new devices and methods that remove the clot from the vein. Some devices administer a "clot-busting" drug directly into the clot. Other devices break up the clot into tiny pieces that are then removed using a catheter. Patients with the best outcomes are patients that have had symptoms that are less than 30 days. The clot seems to respond very favorably when it is "fresh". The optimal outcomes are seen in patients with symptoms less than 14 days.  These techniques uncover the narrowing of the vein that was part of the reason the blood clot formed, and then this is treated by placing a stent to open the vein.  A stent is a small metal mesh tube that opens up the vein. It stays in the vein forever. There is a 5% chance that the stent can get clogged over a 5-year period.	</p>
											<p>The main reason that we recommend this procedure is that it decreases the incidence of post-thrombotic syndrome. This is a problem that develops is at least 50% of patients that have blood clots like yours. Post-thrombotic syndrome develops a few weeks after you have a blood clot because the vein is either partially blocked or completely blocked. The symptoms are pain, swelling, burning, and itching of the leg. It can be very mild, but also can be severe enough to impact your quality of life.  These symptoms can last for years. A recent study in the medical journal, Lancet, compared patients that had this procedure to patients that did not have the procedure.  Both groups of patients received blood thinners.  The group that had the procedure had a lower rate of post-thrombotic syndrome.  There is a 5% risk of bleeding from the procedure, which can require a blood transfusion.  There is also a very small risk that you can have a bleeding into the brain. That risk is 0.3%, so less than 1%.  If this occurs, it can be fatal. However, I have not personally seen this complication in my career.</p>
											<p>We have been performing this procedure for 17 years at our institution. It is important that you are treated at a center that has experience with this procedure.
												<p><strong>3.  Blood Thinner</strong> - You will need to be on warfarin (Coumadin) or enoxaparin (Lovenox) to prevent more clots from forming after the procedure. You will need to be on it for 3-6 months to allow the vein to heal, and to decrease the risk of a blood clot from forming in the vein.</p>
												<p><strong>4. Alternatives</strong> - If you do not want to have the procedure, then I would recommend that you are on the blood thinner for 3-6 months.  This will prevent more clots from forming, but does not remove the existing clot from the vein. This therapy relies on the body to "dissolve" the clot. In some patients, this often does not occur and the vein will remain blocked forever.</p>
												<p><strong>5.</strong>  You should not take birth-control pills in the future and you should discuss with your doctor other methods of contraception.</p>
	<div class="well checklist-info">
		<h2>Recommendations</h2>
		Since I have not had the opportunity to examine you and talk to you face-to-face, I am therefore not your “treating physician”. You should use this opinion as a basis of discussion with your treating physician. You need to work with your physician, who can examine you in person, to determine the optimal treatment for you.
		<ul>
			<li>Undergo catheter-directed thrombolysis with stent placement.</li>
			<li>Anti-coagulation (blood thinner) for 3 months, with a target INR of 2.0-3.0</li>
		</ul>
	</div>

														<h2 class="h2">Links for you</h2>
														Here are links to sites that I recommend:
														<ul>
														<li><a href="#">http://stanfordhospital.org/.../acute.html</a></li>
														<li><a href="#">http://www.vdf.org/diseaseinfo/dvt/</a></li>
														<li><a hef="#">http://www.sirweb.org/patients/deep-vein-thrombosis/</a></li>
														<li><a href="#">http://www.may-thurnersyndrome.org/</a></li>
													</ul>
													<h2 class="h2">What's next</h2>
													<ul>
														<li>Your staff physician will call you in the next 24 hours to see if you have any questions.</li>
														<li>You should take this report to your next appointment to review with your treating physician. </li>
														<li>If you need assistance finding a top local specialist, let us know.</li>
														<li>Your care coordinator will follow up within a week to make sure you are satisfied with the service provided.</li> 
														<li>Depending on your treatment plan, your care coordinator will perform periodic follow-ups to ensure you remain satisfied. Your staff physician will also remain available for additional questions if they arise.</li>
													</ul>

	  
	
	<!-- Page Body Ends -->
    </div>
  </div>
</div>
