<div class="container">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
				<header>
					<p>
						<img src="../images/grlogo-white.png" width="217" height="41" alt="Grlogo White" class="center-block">
					</p>
				</header>
			<h4 class="text-center brand-white">Finding <b>YOU</b> Specialist to see in person</h4>
			<div class="wrapper">
		<section>
			<h4>This is the info we'll use to start your Visit</h4>
			<p>Please make sure everything is correct.</p>
			<div class="row">
				<div class="col-md-8">
			<div class="media">
						  <div class="media-left">
						    <a href="#">
						      <img class="media-object" src="../images/icons/icon-user.png" alt="...">
						    </a>
						  </div>
						  <div class="media-body">
						    <b><%= firstName %> <%= lastName %></b>
								<br />
								<%= email %>
								<br />
								<%= company %>
								<br />
								<%= phone %>
								<br />
								<%= address %>
								<br />
								<%= addressCityState %>
						  </div>
						</div><!-- /media -->
					</div>
					<div class="col-md-4">
							<a href="visit-3" type="button" class="btn btn-default btn-block">Edit</a>
					</div>
				</div>
			</section>
<section>
	<div class="row">
		<div class="col-md-8">
			<div class="media">
						  <div class="media-left">
						    <a href="#">
						      <img class="media-object" src="../images/icons/icon-insurance.png" alt="...">
						    </a>
						  </div>
						  <div class="media-body">
						    <b><%= insuranceProvider %></b>
								<br />
								<%= insuranceCarrier %>
								<br />
								<%= insuranceGroupNumber %>
								<br />
								<%= insurancePolicyNumber %>
						  </div>
						</div><!-- /media -->
		</div>
		<div class="col-md-4">
			<a href="visit-3" type="button" class="btn btn-default btn-block">Edit</a>
		</div>
	</div>
</section>
				<hr>
				<p>
					<a href="visit-4" type="button" class="btn btn-primary btn-block btn-lg">Continue</a>
				</p>
				<p class="small text-right">
					Next Step: Reason for Visit
				</p>
			</div><!-- /wrapper -->
		</div>
	</div>
</div>