<div class="well welcome-home">
	<div class="container">
		<h2>We found the perfect specialist for you.</h2>
		<p>Please confirm you want to see this specialist and we'll start scheduling your appointment.</p>
	</div>
</div>

<div class="container">
  <div class="row">
    <div class="col-lg-12">
    <!-- Page Body Starts -->
	<div class="well select-doctor">
		<div class="row">
			<div class="col-md-3">
				<section>
				<p><img src="../images/<%= drImage %>" width="150" height="150" alt=""></p>
				<p><strong>Dr. <%= drFName %> <%= drLName %></strong></p>
				<%= drSpecialty %><br>
				<%= drHospital %><br>
				<%= drAddress %><br>
				Google Map <a href="<%= drGoogleMap %>" target="new">MAP IT</a>
			</section>
			</div>
				<div class="col-md-6">
				<p><strong>About Dr. <%= drLName %></strong><br />
					Dr. <%= drLName %> is an Associate Professor of Medicine at Harvard University and a Medical Oncologist at the Gillette Center for Breast Oncology at Massachusetts General Hospital. Her clinical area of expertise is in breast cancer, new treatments for the disease and the special concerns for young cancer survivors. Her research focuses on the psychosocial support of cancer patients and improved communication between the patient and treating physician. Dr. <%= drLName %> has published articles in the leading scientific and academic journals in the field and is a past director of the American Psychosocial Oncology Society.</p>
				<p><a href="visit-casedashboard-scheduled.html" type="button" class="btn btn-primary btn-block btn-lg">Schedule with this Doctor</a></p>
				
			</div>
		</div>
	</div>
	
	<!-- Team & Messages -->
	<%- partial("partial/_teamandmessages") %>
	<!-- /Team & Messages -->
	
	<!-- Page Body Ends -->
    </div>
  </div>
</div>