<div class="opinion-toolbar">
	<div class="container">
		<div class="row">
			<div class="col-md-6 col-xs-6">
				<dl class="dl-horizontal">
					<dt>Opinion provided for</dt>
					<dd><%= firstName %> <%= lastName %></dd>
					<dt>Written by</dt>
					<dd>Dr. <%= dr2LName %></dd>
					<dt>Date</dt>
					<dd><script>var d = new Date(); document.write(d.toDateString());</script></dd>

				</dl>
			</div>
			<div class="col-md-offset-3 col-md-3 col-xs-6">
				<ul class="list-unstyled">
					<li><a href="#"><i class="fa fa-save fa-fw"></i> Save as PDF</a></li>
					<li><a href="#"><i class="fa fa-print fa-fw"></i> Print</a></li>
					<li><a href="#"><i class="fa fa-envelope fa-fw"></i> Share via Email</a></li>
				</ul>
			</div>
		</div>
	</div>
</div>

<div class="container">
	<div class="row">
		<div class="col-md-12">
			<div class="well well-team">
				
				<!-- Note from SP >> -->
				<section>
					<div class="well checklist-info">
						<div class="row">
							<div class="col-md-2 col-xs-3">
								<img src="../assets/img_sp-shaundra@3x.jpg" class="img-circle img-responsive"/>
							</div>
							<div class="col-md-10 col-xs-9">
								<p class="h3-well">Note from Dr. <%= spLastName %></p>
								<p><%= firstName %>,<br />Dr. <%= dr2LName %> has written the opinion below for you. Based on our conversation on the phone last week, I think this is an excellent opinion and should set you on an excellent path to recovery.</p>
								<p>Please take some time to read Dr. <%= dr2LName %>'s opinion and I will reach out to you in the next few days.</p>
								<p>Yours,<br />
								Dr. <%= spFirstName %> <%= spLastName %></p>
							</div>
						</div>
					</div>
				</section><!-- << Note from SP -->
				
				
				<section>
					<h2>Expert Opinion provided by <%= dr2FName %> <%= dr2LName %>, M.D.</h2>
					<!-- Expert Container >> -->
					<div class="well well-transparent">		
						<div class="row">
							<div class="col-md-2">
								<img src="<%= dr2Image %>" width="150" class="center-block img-circle pp-avatar">
							</div>
								
							<div class="col-md-10">
								<span class="h3">About <%= dr2FName %> <%= dr2LName %>, M.D.</span>
								<p><%= dr2Bio %></p>
								<table class="table table-condensed table-pp">
									<tbody>
										<tr>
											<td class="col-md-4 subtext">Medical School</td>
											<td>Tulane University School of Medicine (MD)</td>
										</tr>
										<tr>
											<td class="col-md-4 subtext">Residency</td>
											<td>Beth Israel Deaconess Medical Center</td>
										</tr>
										<tr>
											<td class="col-md-4 subtext">Fellowship</td>
											<td>Beth Israel Deaconess Medical Center</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div><!-- << Expert Container -->
				</section>
				
				note
			</div>
		</div>
	</div>
</div>