<div class="header">&nbsp;</div>
<div class="container">
	<div class="row">		
		<div class="col-md-8 col-md-offset-2">
			
			<!-- Tools >> -->
			<section>
				<div class="well well-tools">
					<div class="row">						
						<div class="col-md-8 col-xs-9">
							<dl class="dl-horizontal">
								<dt>Opinion provided for</dt>
								<dd><%= firstName %> <%= lastName %></dd>
								<dt>Written by</dt>
								<dd>Dr. <%= dr2LName %></dd>
								<dt>Date</dt>
								<dd><script>var d = new Date(); document.write(d.toDateString());</script></dd>
							</dl>
						</div>
						<div class="col-md-4 col-xs-3">
							<ul class="list-unstyled">
								<li><a href="../assets/file_opinion-example2.pdf"><i class="fa fa-save fa-fw"></i> Save</a></li>
								<li><a href="javascript:window.print()"><i class="fa fa-print fa-fw"></i> Print</a></li>
								<li><a href="mailto:<%= email %>"><i class="fa fa-envelope fa-fw"></i> Share</a></li>
							</ul>
						</div>
					</div>				
				</div>
			</section><!-- << Tools -->
	
			
			<!-- Note from SP >> -->
			<section>
				<div class="well checklist-info">
					<div class="row">
						<div class="col-md-2 col-sm-2 col-xs-3">
							<img src="../assets/img_sp-shaundra@3x.jpg" width="150" class="center-block img-circle img-responsive"/>
						</div>
						<div class="col-md-10 col-sm-10 col-xs-9">
							<p class="h3-well">Note from Dr. <%= spLastName %></p>
							<p>Hello Ms. <%= spLastName %>,</p>
							<p>I was reviewing your expert opinion from Dr. <%= dr2LName %> and wanted to add a quick note.</p>
							<p>I hope you find Dr. <%= dr2LName %>'s recommendations regarding your congestive heart failure useful. The good news is that he has some suggestions that may be very helpful.</p>
							<p>In his opinion, Dr. <%= dr2LName %> explains that you have several conditions, each of which may be contributing to your difficulty breathing. He believes that either your lung disease and your heart issues could be contributing to your symptoms. He first recommends a complete set of breathing tests that will determine the severity of your lung disease. These tests will help determine if it is your lungs or your heart that is causing you to have trouble breathing. This determination is crucial in defining the best course of treatment.</p>
							<p>I know this is quite a bit of information to digest, so I will contact you within the next business day to discuss Dr. <%= dr2LName %>'s recommendations and answer any questions you may have.</p>
							<p>Please feel free to contact me, or any member of the Grand Rounds team, with any concerns. We’re here to help you.</p>
							<p>Best,<br />
							Dr. <%= spFirstName %> <%= spLastName %>, Grand Rounds Staff Physician</p>
						</div>
					</div>
				</div>
			</section><!-- << Note from SP -->
			
		</div>		
	</div>
	
	<div class="row">
		<div class="col-md-8 col-md-offset-2">
			<div class="well well-team">
				
				<!-- Expert Container >> -->
				<section>
					<h2>Expert Opinion provided by <%= dr2FName %> <%= dr2LName %>, M.D.</h2>
					<div class="well well-transparent">		
						<div class="row">
							<div class="col-md-2 col-sm-2 col-xs-3">
								<img src="<%= dr2Image %>" width="150" class="center-block img-circle img-responsive">
							</div>
								
							<div class="col-md-10 col-sm-10 col-xs-9">
								<span class="h3">About <%= dr2FName %> <%= dr2LName %>, M.D.</span>
								<p><%= dr2Bio %></p>
								<table class="table table-condensed table-pp">
									<tbody>
										<tr>
											<td class="col-md-2 subtext">Medical School</td>
											<td>Hahneman Medical College (MD)</td>
										</tr>
										<tr>
											<td class="col-md-2 subtext">Residency</td>
											<td>University of Chicago</td>
										</tr>
										<tr>
											<td class="col-md-2 subtext">Fellowship</td>
											<td>University of Chicago</td>
										</tr>
										<tr>
											<td class="col-md-2 subtext">Awards</td>
											<td>Clinical Specialist - American Society of Hypertension<br />
											    Faculty Member - American Heart Association</td>
										</tr>
										<tr>
											<td class="col-md-2 subtext">Publications</td>
											<td>
												<ul class="list-unstyled">
													<li><a rel="nofollow" target="_blank" href="http://www.pnas.org/content/106/1/226.full.pdf" title="Link: http://www.pnas.org/content/106/1/226.full.pdf">Whole-genome association study identifies STK39 as a hypertension susceptibility gene.</a></li>
													<li><a rel="nofollow" target="_blank" href="http://www.plosgenetics.org/article/info%3Adoi%2F10.1371%2Fjournal.pgen.0030115">Genome-wide association scan shows genetic variants in the FTO gene are associated with obesity-related traits.</a></li>
													<li><a rel="nofollow" target="_blank" href="https://cseweb.ucsd.edu/classes/sp05/cse291-a/doc/ng1510.pdf">Admixture mapping for hypertension loci with genome-scan markers.</a></li>
													<li><a rel="nofollow" target="_blank" href="http://www.ncbi.nlm.nih.gov/pubmed/10391210">Patterns of single-nucleotide polymorphisms in candidate genes for blood-pressure homeostasis.</a></li>
													<li><a rel="nofollow" target="_blank" href="http://www.nejm.org/doi/pdf/10.1056/NEJM198601233140402">Red-cell lithium-sodium countertransport and renal lithium clearance in hypertension.</a></li>
												</ul>
											</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</section><!-- << Expert Container -->
				
				<!-- Med History >> -->
				<section>
					<p class="h3">Summary of your Medical History</p>
					<p>Thank you for the opportunity and privilege to offer an opinion about your congestive heart failure. You are an 47 year-old woman with a history of Calcific Aortic Slerosis (non-bicuspid), Atrial Fibrillation and Supraventricular tachycardia (SVT) who presented with progressive shortness of breath (SOB) and dizziness thought initially to be a result of critical aortic stenosis based on a transthoracic echocardiogram. Your chief complaint relates to your exertional dyspnea that has become debilitating.</p>
					<p>Your medications have included Coumadin, Lasix and K, Mag, beta-blockers, TNG, a statin, H2 blockers and multi vitamins.</p>
					<p>A recent CT scan from 7/26/2013 demonstrates a calcific anterior pericardium and supleural reticulations consistent with interstitial lung disease (ILD).</p>
				</section><!-- << Med History -->
				
				<!-- Questions >> -->
				<section>
					<p class="h3">Your questions</p>
					<p>I'm pleased to address your questions. I will answer each as you posted them.</p>
					<p class="h5">1. What exactly are all my issues? Are any of them causing the other?</p>
					<p class="indent">Your primary concern is with the shortness of breath and fatigue that, I understand, you've had for several years but has recently significantly worsened. The problem your doctors are facing is that is appears you have several conditions that can contribute to shortness of breath with exertion, and it's difficult to sort out the contribution of each. As you know you may have aortic stenosis—which can cause shortness of breath when severe—but your tests are somewhat equivocal as to how severe your aortic valve disease is. Let me go into this further below.</p>
					<p class="indent">Your medical record indicates that you have been diagnosed with congestive heart failure. Based on your echocardiograms you have the type called "heart failure with preserved ejection fraction," where the main problem is a failure of the heart muscle to relax sufficiently and quickly enough to fill properly for the next beat; this can cause shortness of breath with exertion.</p>
					<p class="indent">Finally, you have recently been diagnosed with lung disease which also causes shortness of breath. While these conditions are most likely not causing one another, they are interacting to worsen your breathing symptoms.</p>
					</p>					
					
					<p class="h5">2. Are there additional tests that I can ask to have done?</p>
					<p class="indent">The most important test for you to have at this time is a complete set of breathing tests (pulmonary function tests) to determine how severe your lung disease is. It's important to pin this down because if most of your shortness of breath can be attributed to the lung problem, there is less of a reason to worry about the aortic stenosis. In addition, even if the lung disease is not the main cause of your shortness of breath, it is a complicating factor if you need to have aortic valve surgery. The pulmonary consultant who saw you in the hospital recommended these tests, so you may have had them by now.</p>
					<p class="indent">A blood test that might be helpful is pro-BNP. Pro-BNP is a hormone secreted by the heart which provides some idea as to how severe your heart failure is. Taken together with the other tests you have had, it may point to a significant contribution of heart failure that, in turn, may well improve with careful medical management.</p>
					<p class="indent">It's possible that useful information can be gained by doing a stress test.  A drug (dobutamine) is used to speed up your heart rate rather than having you walk on a treadmill that your records indicate you were unable to do. However, I'd defer that until the lung issue has been sorted out.</p>				
				
					<p class="h5">3. For someone of my age and condition, what do you recommend as far as treatment?</p>
					<p class="indent">Above all else, it is critical that your doctors know everything they can about your problems before making any decisions about treatment. Specifically, your lung function must be measured, since if you have shortness of breath primarily due to pulmonary fibrosis, fixing your aortic valve will likely not help with your symptoms.</p>
					<p class="indent">If there is no evidence of significant lung disease, then attention should turn to your aortic valve disease to see if your doctors can arrive at a consensus as to how narrowed the valve is and thus whether it needs to be fixed. If the aortic valve narrowing is the cause of your shortness of breath, fixing it should improve your symptoms.</p>
					<p class="indent">Age is no impediment to fixing your aortic valve if that's what you need. As you have undoubtedly discussed with your doctors, there is an option of fixing the valve with a device delivered with a catheter inserted into an artery: that would spare you a major open-heart surgery. This catheter approach is not without its own problems—most importantly a risk of stroke—but results are likely as good as those achieved by surgery in medical centers with expertise in doing the procedure.</p>
					<p class="indent">Whether you actually need to have the valve replaced is, as I mentioned above, still is not clear to me.  As you know, your heart tests have not given consistent values for the area of the aortic valve and that makes it hard to know whether replacement is appropriate. Your catheterizations suggest less severe disease than the echocardiograms. If the catheterization values are correct, you have only mildly severe aortic stenosis, which doesn't seem to have progressed much between 2010 and 2013, and the valve would not need to be fixed. The transesophageal and transthoracic echocardiograms seem to show more severe valve narrowing to the point that if the narrowed aortic valve is causing your symptoms, then fixing it would likely help.</p> 
					<p class="indent">This sort of discrepancy between different types of studies is not uncommon and the best approach at this time is to have an expert compare all the findings side-by-side, with all of the completed testing, to see if there are technical issues that might explain the differences. With all of the necessary tests results, he can offer his best opinion as to what the severity of the valve disease is.</p>
				</section><!-- << Questions -->
			
				<!-- Recomendations >> -->
				<section>
					<div class="well well-green">
						<div class="row">
							<div class="col-md-2 col-sm-2 col-xs-3">
								<img src="<%= dr2Image %>" width="150" class="center-block img-circle img-responsive">
							</div>
							<div class="col-md-10 col-sm-10 col-xs-9">
								<p class="h3-well">Recommendations</p>
								<p><cite>Since I have not had the opportunity to examine you and talk to you face-to-face, I am therefore not your “treating physician”. You should use this opinion as a basis of discussion with your treating physician. You need to work with your physician, who can examine you in person, to determine the optimal treatment for you.</cite></p>
								
								<p class="h5">My recommendation is to proceed as follows:</p>
								
								<ol class="numbers">
									<li>Perform pulmonary function testing as recommended by the consultant who saw you during this hospitalization. Have him advise you as to the severity of your lung disease and offer an opinion as to whether your lung problem is sufficiently severe to explain your shortness of breath.</li>
								
								<li>Obtain a pro-BNP measurement. Based on this and your other tests, ask your cardiologist whether he believes worsening heart failure is contributing to your progressive shortness of breath. If so, he can recommend treatments for heart failure that may improve your symptoms.</li>
								
								<li>If neither lung disease nor CHF is thought to be your major problem, proceed with consultation with your treating physician. Make certain he has all your relevant medical information. It may be best to carry discs with the study images along with you to the consultation. Based on his analysis, if he feels you have critical aortic valve stenosis, I believe a catheter-based approach to valve replacement will be recommended because of your age, probable lung disease and the possible surgical difficulty posed by your pericardial calcification. Valve replacement should be performed by a physician who has experience with many of these procedures.</li>
								</ol>
								
								<p>&ndash; Dr. <%= dr2FName %> <%= dr2LName %>, Grand Rounds Expert Physician</p>
							</div>
						</div>								
					</div>						
				</section><!-- << Recomendations -->
	
				<!-- Links >> -->						
				<section>
					<p class="h2">Links for you</p>
					<ul>
						<li>Here is a site from the Society of Thoracic Surgery (STS) which may provide you more information on your risk of surgery.<br /><a href="http://riskcalc.sts.org/STSWebRiskCalc273/de.aspx" target="_blank">STS Risk Calculator</a></li>
					</ul>
						
					<p class="h5">Links from your doctor</p>
					<ul>
						<li><a href="http://www.ncbi.nlm.nih.gov/pubmed/23833296" target="_blank">Lindman BR, Bonow RO, Otto CM. Current management of calcific aortic stenosis. Circ Res 113:223-237, 2013</a></li>
						<li><a href="http://www.ncbi.nlm.nih.gov/pubmed/20047994" target="_blank">Vahanian A, Otto CM. Risk stratification of patients with aortic stenosis. Eur Heart J 31:416-423, 2010</a></li>
					</ul>
				</section><!-- << Links -->
			
			</div>
		</div>
	</div>
</div>