<div class="tabbable">
	<section class="nav-cases-container">
		<div class="container">		
			<div class="row">
				<div class="col-md-12">
					<ul class="nav nav-pills nav-justified nav-cases">
					  <li class="active"><a href="#tab1" data-toggle="pill"><i class="fa fa-calendar-o fa-fw hidden-lg hidden-md hidden-sm"></i> <span class="hidden-xs">Opinion</span></a></li>
					  <li><a href="#tab2" data-toggle="pill"><i class="fa fa-envelope-o fa-fw hidden-lg hidden-md hidden-sm"></i> <span class="hidden-xs">Messages</span> <div class="badge badge-messages">1</div></a></li>
					  <li><a href="#tab3" data-toggle="pill"><i class="fa fa-file-text-o fa-fw hidden-lg hidden-md hidden-sm"></i> <span class="hidden-xs">Medical Documents</span></a></li>
					</ul>
				</div>
			</div>
		</div>
	</section>


	<div class="container">
		<div class="tab-content">	
			
			<!-- Tab 1 >> -->
			<div id="tab1" class="tab-pane fade in active">
				
				<!-- Page Header >> -->
				<div class="row">
				    <div class="col-md-12">
						<section>
							<h2><%= firstName %>, we're now collecting your records</h2>
							<p class="subtext">We will be in touch within 24 hours with an email update</p>
						</section>
					</div>
				</div><!-- << Page Header -->
				

<!--
				<div class="row">
					<div class="col-md-12">
						<div class="prog">
							<div class="notch" style="left: 50%;"></div>
							<div class="bar">
								<span class="l1">
									<span class="fa fa-check fa-fw"></span>
									<div class="milestone milestone-checked">Case Started</div>
								</span>
								<span class="l2">
									<span class="fa fa-check fa-fw"></span>
									<div class="milestone milestone-checked">Collecting Records</div>
								</span>
								<span class="l3">
									<span class="fa circle fa-fw"></span>
									<div class="milestone">Expert Review</div>
								</span>
								<span class="l4">
									<span class="fa circle fa-fw"></span>
									<div class="milestone">Expert Opinion</div>
								</span>
								<div class="state" data-n-point="50%" data-percent="50" style="width: 50%;"></div>
							</div>
						</div>
					</div>
				</div> 
-->

				

				<!-- Choose Consenting Physician >> -->
				<section class="dashboard">
					<div class="well well-danger">
						<div class="row">
							<div class="col-md-1">
								<i class="fa fa-exclamation-triangle fa-4x brand-warning"></i>
							</div>
							<div class="col-md-11">
								<p class="h4">Choose a consenting physician</p>
							</div>
						</div>
						<div class="row">
							<div class="col-md-8 col-md-offset-1">						
								<p>Because you live in <%= addressState %>, one of your treating physicians must provide permission for us to send you a second opinion. Please tell us which of your doctors we should contact to obtain this consent. The doctor selected will also receive a copy of your second opinion.</p>
								<form role="form">
									<div class="radio radio-success">
				                        <input type="radio" id="inlineRadio1" value="option1" name="radioInline" checked="yes">
				                        <label for="inlineRadio1"><% drFName %> <%= drLName %>, M.D.</label>
				                    </div>
				
									<div class="radio radio-success">
				                        <input type="radio" id="inlineRadio2" value="option2" name="radioInline">
				                        <label for="inlineRadio2">Add another consenting physician</label>
				                    </div>
								</form>
							</div>
							
							<div class="col-md-3">
								<a href="opinion-casedashboard-expert.html" class="btn btn-warning btn-block" data-method="get">Submit</a>
							</div>		
						</div>
					</div>
				</section>
				<!-- << Choose Consenting Physician -->

				
			</div><!-- << Tab 1 -->
			
			<!-- Tab 2 >> -->
			<div id="tab2" class="tab-pane fade">
				<%- partial("partial/_teamandmessages-opinion") %>
			</div><!-- << Tab 2 -->
		    
		    <div id="tab3" class="tab-pane fade">
			    <%- partial("partial/_medicaldocuments-opinion") %>
		    </div>
		</div><!-- << Tab Content -->
	
	</div><!-- << Tabbable -->
</div><!-- << Page Container -->