<div class="opinion-toolbar">
	<div class="container">
		<div class="row">
			<div class="col-md-5 col-md-offset-2 col-xs-6">
				<dl class="dl-horizontal">
					<dt>Opinion provided for</dt>
					<dd><%= firstName %> <%= lastName %></dd>
					<dt>Written by</dt>
					<dd>Dr. <%= dr2LName %></dd>
					<dt>Date</dt>
					<dd><script>var d = new Date(); document.write(d.toDateString());</script></dd>

				</dl>
			</div>
			<div class="col-md-3 col-xs-6">
				<ul class="list-unstyled pull-right">
					<li><a href="../assets/file_opinion-example.pdf"><i class="fa fa-save fa-fw"></i> Save as PDF</a></li>
					<li><a href="javascript:window.print()"><i class="fa fa-print fa-fw"></i> Print</a></li>
					<li><a href="mailto:<%= email %>"><i class="fa fa-envelope fa-fw"></i> Share via Email</a></li>
				</ul>
			</div>
		</div>
	</div>
</div>

<div class="container">
	<div class="row">
		<div class="col-md-8 col-md-offset-2">
			<!-- Note from SP >> -->
			<section>
				<div class="well checklist-info">
					<div class="row">
						<div class="col-md-2 col-sm-2 col-xs-3">
							<img src="../assets/img_sp-shaundra@3x.jpg" width="150" class="center-block img-circle img-responsive"/>
						</div>
						<div class="col-md-10 col-sm-10 col-xs-9">
							<p class="h3-well">Note from Dr. <%= spLastName %></p>
							<p><%= firstName %>,<br />Dr. <%= dr2LName %> has written the opinion below for you. Based on our conversation on the phone last week, I think this is an excellent opinion and should set you on an excellent path to recovery.</p>
							<p>Please take some time to read Dr. <%= dr2LName %>'s opinion and I will reach out to you in the next few days.</p>
							<p>Yours,<br />
							Dr. <%= spFirstName %> <%= spLastName %></p>
						</div>
					</div>
				</div>
			</section><!-- << Note from SP -->
		</div>
	</div>
</div>

<div class="container">
	<div class="row">
		<div class="col-md-8 col-md-offset-2">
			<div class="well well-team">
				
				
				
				<section>
					<h2>Expert Opinion provided by <%= dr2FName %> <%= dr2LName %>, M.D.</h2>
					<!-- Expert Container >> -->
					<div class="well well-transparent">		
						<div class="row">
							<div class="col-md-2 col-sm-2 col-xs-3">
								<img src="<%= dr2Image %>" width="150" class="center-block img-circle img-responsive">
							</div>
								
							<div class="col-md-10 col-sm-10 col-xs-9">
								<span class="h3">About <%= dr2FName %> <%= dr2LName %>, M.D.</span>
								<p><%= dr2Bio %></p>
								<table class="table table-condensed table-pp">
									<tbody>
										<tr>
											<td class="col-md-4 subtext">Medical School</td>
											<td>Tulane University School of Medicine (MD)</td>
										</tr>
										<tr>
											<td class="col-md-4 subtext">Residency</td>
											<td>Beth Israel Deaconess Medical Center</td>
										</tr>
										<tr>
											<td class="col-md-4 subtext">Fellowship</td>
											<td>Beth Israel Deaconess Medical Center</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div><!-- << Expert Container -->
				</section>
				
				<section>
					<p class="h3">Summary of your Medical History</p>
					<p>Thank you for allowing me to review your case and provide my opinion. Before I answer your questions and offer my recommendations, let me summarize your medical history and concerns based on what I have learned from your medical records and the questionnaire you completed. You are XX years old and developed pain in your back and right leg in August of XXXX. You consulted with several orthopedic surgeons, and had an MRI of your spine that showed you had a herniated disc and degenerative changes. You ended up having surgery to remove a portion of the damaged disc (a procedure called a microdiscectomy) last September. Unfortunately, since your surgery, you have had difficulty lifting the front of your right foot (called “foot drop”) as well as some numbness and pain in the foot. You have undergone physical therapy and have tried the medication Neurontin (gabapentin) for your symptoms; you also received two epidural steroid injections (spinal injections.) Although your leg pain improved with the injections, unfortunately, your foot drop and numbness have persisted and your doctors have recommended that you have additional surgery. You would like to understand the cause of your symptoms and confirm the diagnosis you have been given. You are confused about whether or not you should proceed with the surgery that has been recommended or if there are alternative treatments that you should consider. Finally, you would also like to understand if your foot drop is permanent or if it will improve with surgery.</p>
				</section>
				
				<section>
					<p class="h3">Your questions</p>
					<p>First of all, let me say that I think your treatment to date has been appropriate and very much in keeping with what I would have recommended. Before I answer your specific questions, I’d like to first provide you with a bit of background about the spine and intervertebral discs. Although you may already be familiar with much of this information, I think that reviewing this information will help clarify the recommendations that I’m going to make. The spinal cord is a long bundle of nerve tissue that extends from the brain and down the back; the cord is protected by the spine, which is made up of bones called vertebrae. The vertebrae are divided into segments that control different parts of the body. There are four major segments of the spinal cord: the cervical (C), thoracic (T), lumbar (L), and sacral spine (S). At every level of the spinal cord, pairs of spinal nerves branch off and travel to other parts of the body where they control both movement and senses (for example, pain, temperature, touch, etc.). The vertebrae and spinal nerves are numbered (e.g. L4, L5, etc.). Between each of the vertebrae of the spine sit intervertebral discs, often referred to simply as ‘discs’. Discs act as shock absorbers and facilitate motion in the spine. They are composed of a central watery gel (called the nucleus), which is surrounded by tough fibers (called the annulus). As discs wear out, the gel inside begins to lose water and dry out; this causes discs to collapse and can potentially cause parts of the disc to bulge or herniate into the spinal canal. Over time, everyone experiences some amount of disc degeneration. When discs begin to bulge or herniate, they may place pressure on nearby spinal nerves causing what is called ‘radiculopathy’. Radiculopathy involving the lumbar spine can trigger sharp pain that extends from the low back into one or both legs; it can also cause numbness or weakness in the legs and feet.</p>
					<p class="h5">1. What is causing my symptoms? Is surgery the best treatment for this? Are there other treatments I should consider?</p>
					<p class="indent">The pain you were having prior to surgery was consistent with the disc herniation and stenosis at the L4-5 spinal level that was seen on your MRI. One of the doctors you consulted with recommended a procedure called a L2-L5 laminectomy (surgical removal of parts of your vertebrae). In my opinion, this would have been more surgery than what you needed to help you with your problem, and I would not have suggested it. You then sought care of a different surgeon, and the surgery that was performed (an L4-L5 microdiscetomy), was appropriate for the problems you were having and the findings seen on your MRI. My understanding is that your main concern at this point is weakness in your right leg (the foot drop) that began following your surgery. There are two possible causes for this. The first is that your surgery may not have entirely fixed the underlying problem: pressure on your spinal nerve. There could be residual pressure on the nerve that is causing the nerve to function improperly. In fact, the first MRI that you had after surgery in October showed that there was still some pressure on the nerve, though most of this pressure appeared to be due to normal swelling and granulation tissue (tissue your body makes as it’s healing) that we would expect to see after a surgery. Although your more recent MRI from January showed that a significant portion of the swelling and granulation tissue had resolved (and the pressure on the nerve had lessened), some pressure on the nerve persists. The pressure appears to be mostly from arthritic changes in the bones of your low back rather than from scar tissue from your surgery (although there is still a small amount of scar tissue that can still be seen). In my opinion, the amount of pressure on the nerve is relatively mild, but it is still there. The other possible cause of your foot drop is nerve damage from surgery. Manipulation of the nerve during surgery could have damaged it, or, alternatively, the nerve could have been injured by swelling and scarring that development post-operatively. This is a rare but known complication of this type of surgery. Unfortunately, having diabetes increases the risk of this type of injury. This type of injury to the nerve is called a neuropraxia. Basically, it’s similar to a bruise, and while it’s typically something that improves over time, it can take a long while. Generally we say that nerves heal about 1mm a day. So if you imagine the length the nerve travels from your low back to your leg, you then can visualize how this can take quite a while to heal (often up to a year). What you should do at this point is a hard question with no clear answer. If your symptoms are being caused by residual compression on the nerve, then surgery—a procedure called a full laminectomy—could help. A laminectomy would involve removing all of the bone off the back of the spinal canal and fully exploring the nerve to make sure that there is no pressure on it. Unfortunately, if the weakness in your foot is the result of a nerve injury, then a second surgery won’t help and could even make things worse. After looking at your MRI scans, I think that surgery is a possible option, but it is not something that I would recommend. I do not see that there is sufficient pressure on your nerve that I think doing a second surgery would be likely to help you. All procedures carry some risk; in your situation, I believe that an additional surgery has a greater risk of causing additional damage than its potential to help your weakness. If you were to say that you wanted to try everything possible to get your strength back, you could pursue surgery, but, I would recommend against it.</p>					
					<p class="h5">2. Could my foot drop be permanent? What is the likelihood that it will improve with the treatment you suggest?</p>
					<p class="indent">At this point, it is too soon to say if your foot drop is going to be permanent or not. As I’ve already mentioned, nerves take a notoriously long time to heal, often up to a year. I know that it has been 5 months since your surgery, but I would give it more time. In the meantime, I would continue to exercise your leg and back. I know that you have already done physical therapy. But physical therapists will usually give you a home exercise program to do on your own—and this is something that I would recommend pursuing. Exercising offers a number of benefits. First, it will strengthen the muscles in your leg and help compensate for your weakness. Second, it can stimulate the damaged nerve and aid in its healing. I know it’s not a quick fix, but I think that, given time to heal, your leg will improve and that a regular exercise program will help. Unfortunately, other than adaptive measures (i.e. braces) to help you cope with the weakness, there aren’t any other great treatment options that I can suggest. Injections and medications may help with your pain, but they will not improve the weakness. If your foot actually catches or drags as you walk, a brace may help. Sometimes boots or high-top sneakers can also give you some extra support. I wish there was a fast or easy solution to your problem. I would give your nerves time to heal and continue with an exercise program. Over time, I do believe that you will get better, but, unfortunately, it may take a while.</p>
				</section>
			
				<section>
					<div class="well well-green">
						<div class="row">
							<div class="col-md-2 col-sm-2 col-xs-3">
								<img src="<%= dr2Image %>" width="150" class="center-block img-circle img-responsive">
							</div>
							<div class="col-md-10 col-sm-10 col-xs-9">
								<p class="h3-well">Recommendations</p>
								<p>Thank you, <%= firstName %>, for allowing me to participate in your care. In summary: Because your nerve does not seem to be pinched significantly on your most recent MRI, I do not believe that an additional surgery would be beneficial. Instead of surgery, I would recommend continuing with a regular exercise program to strengthen both your back and leg. Although there is a chance that the weakness in your foot could be permanent, over time, I believe that it will improve. It often takes a year or more for this type of injury to resolve. Braces or different shoes may help if your foot drags or catches as your walk. I hope that you find these recommendations helpful and that they serve as the basis for a productive conversation with your treating team. I wish you good fortune with your health.</p>
								<p>Regards<br />
								<%= dr2FName %> <%= dr2LName %>, M.D.</p>
							</div>
						</div>								
					</div>						
				</section>
			
				<section>
					<p class="h2">Links for you</p>
					<p>Here are links to sites that I recommend:</p>
					<ul>
						<li><a href="http://orthoinfo.aaos.org/topic.cfm?topic=A00575" target="_blank">Information on the anatomy of the spine</a></li>
						<li><a href="http://www.ninds.nih.gov/disorders/foot_drop/foot_drop.htm" target="_blank">Information about foot drop</a></li>
					</ul>
				</section>

				<section>
					<p class="h2">What's next</p>
					<ul>
						<li>Your staff physician, Dr <%= spFirstName %>, will call you in the next 24 hours to see if you have any questions.</li>
						<li>You should take this report to your next appointment to review with your treating physician.</li>
						<li><a href="visit-1">If you need assistance finding a top local specialist, let us know.</a></li>
						<li>Your care coordinator, <%= ccFirstName %> <%= ccLastName %>, will follow up within a week to make sure you are satisfied with the service provided.</li>
						<li>Depending on your treatment plan, your care coordinator will perform periodic follow-ups to ensure you remain satisfied. Your staff physician will also remain available for additional questions if they arise.</li>
					</ul>
				</section>
			
			</div>
		</div>
	</div>
</div>